.DS_STORE
node_modules
scripts/flow/*/.flowconfig
.flowconfig
*~
*.pyc
.grunt
_SpecRunner.html
__benchmarks__
build/
remote-repo/
coverage/
.module-cache
fixtures/dom/public/react-dom.js
fixtures/dom/public/react.js
test/the-files-to-test.generated.js
*.log*
chrome-user-data
*.sublime-project
*.sublime-workspace
.idea
*.iml
.vscode
*.swp
*.swo

packages/react-devtools-core/dist
packages/react-devtools-extensions/chrome/build
packages/react-devtools-extensions/chrome/*.crx
packages/react-devtools-extensions/chrome/*.pem
packages/react-devtools-extensions/firefox/build
packages/react-devtools-extensions/firefox/*.xpi
packages/react-devtools-extensions/firefox/*.pem
packages/react-devtools-extensions/shared/build
packages/react-devtools-extensions/.tempUserDataDir
packages/react-devtools-inline/dist
packages/react-devtools-shell/dist
packages/react-devtools-timeline/dist
.DS_Store
.next/app-build-manifest.json
.next/build-manifest.json
.next/cache/.tsbuildinfo
.next/cache/webpack/client-development/0.pack.gz
.next/cache/webpack/client-development/1.pack.gz
.next/cache/webpack/client-development/index.pack.gz
.next/cache/webpack/client-development/index.pack.gz.old
.next/cache/webpack/client-production/0.pack
.next/cache/webpack/client-production/index.pack
.next/cache/webpack/server-development/0.pack.gz
.next/cache/webpack/server-development/index.pack.gz
.next/cache/webpack/server-production/0.pack
.next/cache/webpack/server-production/index.pack
.next/package.json
.next/react-loadable-manifest.json
.next/server/app-paths-manifest.json
.next/server/app/page.js
.next/server/app/page_client-reference-manifest.js
.next/server/middleware-build-manifest.js
.next/server/middleware-manifest.json
.next/server/middleware-react-loadable-manifest.js
.next/server/next-font-manifest.js
.next/server/next-font-manifest.json
.next/server/pages-manifest.json
.next/server/server-reference-manifest.js
.next/server/server-reference-manifest.json
.next/server/vendor-chunks/@babel.js
.next/server/vendor-chunks/@radix-ui.js
.next/server/vendor-chunks/@swc.js
.next/server/vendor-chunks/class-variance-authority.js
.next/server/vendor-chunks/clsx.js
.next/server/vendor-chunks/lucide-react.js
.next/server/vendor-chunks/next.js
.next/server/vendor-chunks/tailwind-merge.js
.next/server/webpack-runtime.js
.next/static/chunks/app-pages-internals.js
.next/static/chunks/app/layout.js
.next/static/chunks/app/page.js
.next/static/chunks/main-app.js
.next/static/chunks/polyfills.js
.next/static/chunks/webpack.js
.next/static/css/app/layout.css
.next/static/development/_buildManifest.js
.next/static/development/_ssgManifest.js
.next/static/media/05a31a2ca4975f99-s.woff2
.next/static/media/513657b02c5c193f-s.woff2
.next/static/media/51ed15f9841b9f9d-s.woff2
.next/static/media/c9a5bc6a7c948fb0-s.p.woff2
.next/static/media/d6b16ce4a6175f26-s.woff2
.next/static/media/ec159349637c90ad-s.woff2
.next/static/media/fd4db3eb5472fc27-s.woff2
.next/static/webpack/633457081244afec._.hot-update.json
.next/static/webpack/7f4679c707359452.webpack.hot-update.json
.next/static/webpack/app/layout.7f4679c707359452.hot-update.js
.next/static/webpack/webpack.7f4679c707359452.hot-update.js
.next/trace
.next/types/app/layout.ts
.next/types/app/page.ts
.next/types/package.json
